.env
.env.*
.git
.gitignore
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/storage
Dockerfile
docker-compose.yml
.dockerignore
README.md